header {
  max-width: 960px;
  height: 160px;
  margin:0 auto;
  padding: 0px 10px;
  box-sizing: border-box;
  position: relative;
}

#logo {
  width: 300px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

#logo-o {
    display: none;
}

#arrow-div {
  width: 60px;
  height: 100%;
  position: absolute;
  right: 0px;
}

#arrow {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@media only screen and (max-width:768px) {
  #logo {
    left: 50%;
    transform: translate(-50%, 0%);
    }
}

@media only screen and (max-width:600px) {
  header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: saturate(120%) blur(15px);
    backdrop-filter: saturate(120%) blur(15px);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    z-index: 1000;
  }

  #logo {
      display:none;
    height: 40px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
    
    #logo-o {
    position: absolute;
    display: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
}

@media only screen and (min-width:601px) {
  #arrow-div {
    display: none;
  }
}
