<div class="main-inner" style="margin-top:5vh">

  <div class="artist-mini-wrapper">

    <div class="artist-div">
      <a href="#reptile">
        <img src="/assets/img/artists/joh.jpg" width="100%">
        <span class="artist-name">REPTILE</span>
      </a>
    </div>

    <div class="artist-div">
      <a href="#zorin">
        <img src="/assets/img/artists/mob.jpg" width="100%">
        <span class="artist-name">zorin</span>
      </a>
    </div>

    <div class="artist-div">
      <a href="#aloysius">
        <img src="/assets/img/artists/paddy.jpg" width="100%">
        <span class="artist-name">aloysius</span>
      </a>
    </div>

    <div class="artist-div">
      <a href="#deleito">
        <img src="/assets/img/artists/juus.jpg" width="100%">
        <span class="artist-name">deleito</span>
      </a>
    </div>

  </div>

    <!--
  <div class="artist-mini-wrapper">

    <div class="artist-div">
      <a href="#elvar">
        <img src="/assets/img/artists/elvar.jpg" width="100%">
        <span class="artist-name">elvar</span>
      </a>
    </div>

    <div class="artist-div">
      <a href="#wasi">
        <img src="/assets/img/artists/wasi.jpg" width="100%">
        <span class="artist-name">wasi levski</span>
      </a>
    </div>

    <div class="artist-div">
      <a href="#smoke">
        <img src="/assets/img/artists/tom.jpg" width="100%">
        <span class="artist-name">smoke hash</span>
      </a>
    </div>

    <div class="artist-div">
      <a href="#bob">
        <img src="/assets/img/artists/basti.jpg" width="100%">
        <span class="artist-name">bob arno</span>
      </a>
    </div>

  </div>

-->

  <div style="margin-top:100px;">

    <div class="artist-profile">

      <div id="reptile"></div>

      <img class="artist-image" src="/assets/img/artists/joh.jpg" height="250px">

      <div class="artist-disc">

        <div class="artist-text">

          <span style="font-weight: 400; font-size: 25px;">REPTILE</span> influenced by his Icelandic roots, Reptile manages to combine astonishing sound design with heavy beats and seismic bass lines. On his uprise to greater publicity, the producer joined oscillatio in early 2018.

        </div>

      </div>

    </div>

    <div class="artist-profile artist-reverse">

      <div id="zorin"></div>

      <img class="artist-image artist-img-rev" src="/assets/img/artists/mob.jpg" height="250px">

      <div class="artist-disc">

        <div class="artist-text">

          <span style="font-weight: 400; font-size: 25px;">zorin</span> combining old and new-school in his rap, the german artist forms something that hip-hop has never heard. besides his visual art, which you can take a look at in our shop, he's also one of both oscillatios founders

        </div>

      </div>

    </div>

    <div class="artist-profile">
          <div id="aloysius"></div>
          <img class="artist-image" src="/assets/img/artists/paddy.jpg" height="250px">

          <div class="artist-disc">
              <div class="artist-text"><span style="font-weight: 400; font-size: 25px;">aloysius</span> the producer and photographer moved to cologne to fulfil his passion for electronic music and webdesign after founding oscillatio in early 2016</div>
          </div>

      </div>

    <div class="artist-profile artist-reverse">
          <div id="deleito"></div>
          <img class="artist-image artist-img-rev" src="/assets/img/artists/juus.jpg" height="250px">

          <div class="artist-disc">
              <div class="artist-text"><span style="font-weight: 400; font-size: 25px;">deleito</span> after getting into techno and hip hop the barcelona-based german DJ/producer moved to cologne, quickly building up a reputation and joining the oscillatio family in 2017.</div>
          </div>

      </div>

      <!--
    <div class="artist-profile">
          <div id="elvar"></div>
          <img class="artist-image" src="/assets/img/artists/elvar.jpg" height="250px">

          <div class="artist-disc">
              <div class="artist-text"><span style="font-weight: 400; font-size: 25px;">elvar</span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus</div>
          </div>

      </div>

    <div class="artist-profile artist-reverse">
          <div id="wasi"></div>
          <img class="artist-image artist-img-rev" src="/assets/img/artists/wasi.jpg" height="250px">

          <div class="artist-disc">
              <div class="artist-text"><span style="font-weight: 400; font-size: 25px;">wasi levski</span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus</div>
          </div>

      </div>

    <div class="artist-profile">
          <div id="smoke"></div>
          <img class="artist-image" src="/assets/img/artists/tom.jpg" height="250px">

          <div class="artist-disc">
              <div class="artist-text"><span style="font-weight: 400; font-size: 25px;">smoke hash</span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus</div>
          </div>

      </div>

    <div class="artist-profile artist-reverse">
          <div id="bob"></div>
          <img class="artist-image artist-img-rev" src="/assets/img/artists/basti.jpg" height="250px">

          <div class="artist-disc">
              <div class="artist-text"><span style="font-weight: 400; font-size: 25px;">bob arno</span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus</div>
          </div>

      </div>
-->

  </div>

</div>
