<div id="footer-content">

  <div id="social">

    <a href="http://soundcloud.com/oscillatio" target="_blank">

      <img src="/assets/img/sc.svg" alt="soundcloud" width="50">

    </a>

    <a href="http://facebook.com/oscillatio" target="_blank">

      <img src="/assets/img/fb.svg" alt="facebook" width="50">

    </a>

    <a href="http://snapchat.com/add/oscillatio" target="_blank">

      <img src="/assets/img/st.svg" alt="snapchat" width="50">

    </a>
      
    <a href="https://www.youtube.com/channel/UCvdaErZNNRSKZd21Y3hEj4Q/featured" target="_blank">

      <img src="/assets/img/yt.svg" alt="snapchat" width="50">

    </a>

  </div>

  <div id="company">

    <b style="line-height: 2;">oscillatio</b>
    <br>
      grunewald &#x26; pardeyke gbr
    <br>
      stüttgerhofweg 3
    <br>
      50585 köln
    <br>
      germany
    <br>

  </div>

  <div id="copyright">

    <b style="line-height: 2;">founders</b>
    <br>
      <a class="founder-link" href="/artists/#aloysius">.aloysius</a>
    <br>
      <a class="founder-link" href="/artists/#zorin">.zorin</a>
    <br>

    <div style=height:10px;></div>

    <span style="font-size: 12px;">
      designed by
      <br>
        &#xA9; jonas pardeyke

    </span>

  </div>

  <div id="footer-links">

    <a href="mailto:contact@oscillatio.com" style="width:50px">contact</a>
      |
    <a href="/disclaimer/">disclaimer</a>
      |
    <a href="/about/" style="width:50px">about</a>

  </div>

</div>
