<!DOCTYPE html>
<html lang="en">
    <head>
        <!--browser seetings-->
            <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
        <!--styles-->
            <link rel="stylesheet" href="/assets/css/error.css">
        
        <!--charset-->
            <meta charset="utf-8">
        
        <!--seo-->
            <!--<meta name="description" content="we purvey you great sound in hip/hop, trap, dubstep, house, techno & beats music. we also present art, photography & other stuff. and there is some clothing from us as well.">-->
            <meta name="keywords" content="music,hip-hop,trap,dubstep,house,techno,beats,art,photography">
            <meta name="author" content="Jonas Pardeyke">
        
        <!--favicons via http://realfavicongenerator.net-->
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
            <link rel="manifest" href="/manifest.json">
            <meta name="apple-mobile-web-app-title" content="oscillatio">
            <meta name="application-name" content="oscillatio">
            <meta name="msapplication-TileColor" content="#603cba">
            <meta name="msapplication-TileImage" content="/mstile-144x144.png">
            <meta name="theme-color" content="#ffffff">
        
        <!--safari pinned tab logo-->
            <link rel="mask-icon" href="/website_icon.svg" color="black">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104345409-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-104345409-1');
            </script>
        
        <title>oscillatio.com | 404</title>
    </head>
    <body>

          {{ content }}

    </body>
</html>